.card {
  border-radius: 15px;
  /* border:1px solid #111827 !important; */
   /* box-shadow: 30px 40px 10px rgba(0, 0, 0, 0.3); */
}
.row {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.bg-primary-light {
  background-color: var(--primary-soft);
}

.profile-avatar img {
  width: 100px;
  height: 100px;
  padding: 5px;
  background-color: #fff;
}

.icon-box {
  width: 45px;
  height: 45px;
  background-color: var(--primary-soft);
  color: var(--icon-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 1.2rem;
}

.label {
  font-size: 0.75rem;
  color: #8898aa;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.value {
  font-weight: 500;
  color: #32325d;
}

.dot {
  color: #dee2e6;
  font-size: 1.5rem;
}

.back-link {
  color: #4b5563; 
  font-weight: 500;
  display: flex;
  align-items: center;
  transition: color 0.2s ease;
}

.back-link:hover {
  color: #111827;
}

.back-link i {
  font-size: 1.1rem;
}
.value {
  word-wrap: break-word; 
  overflow-wrap: anywhere; 
}



