.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.card{
    transition: transform 0.4s ease,
                box-shadow 0.4s ease ;
}
.progress-container {
  height: 4px;
  width: 100%;
  background-color: #e0e0e0;
  overflow: hidden;
  position: relative;
}

.progress-bar-value {
  width: 100%;
  height: 100%;
  background-color: #0d6efd; 
  animation: indeterminate 1.5s infinite linear;
  transform-origin: 0% 50%;
}

@keyframes indeterminate {
  0% { transform: translateX(0) scaleX(0); }
  40% { transform: translateX(0) scaleX(0.4); }
  100% { transform: translateX(100%) scaleX(0.5); }
}